@import url(./reset.css);
@import url(./theme.css);

body {
    display: grid;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    min-width: 1280px;
    min-height: 100vh;
    color: #282525;
}

h1 {
    font-size: 40px;
    line-height: 140%;
    font-weight: 600;
    margin-bottom: 16px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.05);
}

.message-btn:hover {
    transform: scale(1.05);
}

.theme:hover {
    transform: scale(1.05);
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 968px;
    height: 72px;
    padding: 24px 0;
    text-align: center;
    transition: 0.3s ease-out;
}

.logo {
    font-size: 18px;
}

ul {
    display: flex;
    align-items: center;
    gap: 48px;
    font-weight: 500;
}

ul li a {
    color: #282525;
    font-size: 16px;
}

a:hover {
    color: #DC3845;
    border-bottom: #DC3845 1px solid;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 120px;
    gap: 18px;
    width: 968px;
}

header p {
    font-size: 15px;
}

header button {
    margin-top: 48px;
}

.btn {
    color: #FFF;
    background-color: #DC3845;
    padding: 20px 56px;
    border-radius: 64px;
    font-weight: 600;
}

/* MAIN [GIVING] */

main {
    width: 968px;
    align-items: center;
    text-align: center;
}

.giving ul {
    justify-content: center;
}

.giving {
    display: block;
    margin-bottom: 52px;
}

.giving p {
    font-size: 14px;
}

.giving h2 {
    margin-bottom: 56px;
}

.cards {
    gap: 128px;
    align-items: center;
    margin-bottom: 32px;
}

.card {
    max-width: 142px;
    max-height: 208px;
}

.card-content {
    margin: 4px;
}

/* MAIN [CELEBRATE] */

.celebrate {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 124px;
}

.celebrate-description {
    margin-top: 24px;
    margin-bottom: 40px;
}

/* MAIN [SHARE A GIFT] */

.gifts-title {
    margin-bottom: 64px;
}

.gifts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
    margin: 0 auto;
    max-width: 680px;
    margin-bottom: 32px;
}

.gift {
    position: relative;
    width: 100%;
    height: 247px;
    background-color: #fbfbfb;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    padding: 32px 40px 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gift:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.gift-img {
    object-fit: contain;
}

.gift-discription {
    font-size: 14px;
    font-weight: 500;
}

.favorite-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 1s ease;
}

.favorite-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.favorite-button:hover {
    transform: scale(1.2);
}

.favorite-button.active img {
    filter: invert(31%) sepia(93%) saturate(749%) hue-rotate(340deg) brightness(90%) contrast(85%);
}

/* MAIN [MESSAGE] */

.message {
    display: flex;
    justify-content: center;
    gap: 65px;
    background-color: #DC3845;
    margin-top: 96px;
    margin-bottom: 72px;
    border-radius: 20px;
    max-height: 354px;
}

.send-title {
    text-align: left;
    padding: 50px 0;
}

.send-title h2 {
    font-size: 36px;
    color: #FFF;
    font-weight: 600;
}

.message-form {
    margin-top: 24px;
    background-color: #ffffff;
    border: none;
    padding: 18px 110px 18px 24px;
    border-radius: 64px;
}

.message-btn {
    margin-top: 13px;
    background-color: #282525;
    color: #FFF;
    padding: 16px 32px 16px 32px;
    border-radius: 64px;
}

/* FOOTER */

footer {
    width: 968px;
    display: grid;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.footer-container {
    display: flex;
    gap: 137px;
}

.footer-logo {
    margin-bottom: 24px;
}

.footer-links {
    display: block;
}

.footer-headline {
    margin-bottom: 24px;
}

footer p {
    font-size: 16px;
    font-weight: 400;
}

.footer-description {
    margin-bottom: 44px;
}

footer a {
    font-size: 16px;
    font-weight: 400;
}

.footer-apps {
    margin-bottom: 12px;
}

/* COPYRIGHT */

.copyright {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 48px;
}

.theme-toggle {
    font-size: 24px;
    font-weight: bold;
}


#settings-btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #DC3845;
    color: #FFF;
    border-radius: 64px;
    font-weight: 600;
}

/* OVERLAY */

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#menu h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: #282525 1px solid;
}

#menu {
    background: #FFF;
    padding: 20px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

#close-btn {
    background: #DC3845;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 600;
}

.setting-item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

#volume-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #5bfa78, #FF5252);
    color: #DC3845;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #DC3845;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s, transform 0.2s;
}

#volume-slider::-webkit-slider-thumb:hover {
    background: #FF5252;
    transform: scale(1.1);
}

/* COUNTDOWN */

.countdown-to-new-year {
    background-color: #DC3845;
    padding: 50px 0 50px 0;
    margin-bottom: 72px;
    color: #FFF;
    border-radius: 30px;
}

.countdown-to-new-year h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#countdown {
    font-size: 1.2rem;
    font-weight: bold;
}